---
import { ExternalLink as IconExternalLink } from "lucide-react";
export interface Props {
  url: string;
}
const { url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noreferer noopener"
  class="inline-flex items-center gap-[3px] no-underline hover:underline"
>
  <slot />
  <IconExternalLink className="!m-0" size={13} />
</a>
