@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-has-hero] header {
    @apply border-b-transparent backdrop-blur-lg supports-[backdrop-filter]:bg-[transparent];
  }

  [data-image-component="true"] {
    @apply w-full;
  }

  a[data-external] {
    position: relative;
    margin-right: 15px;
    display: inline-block;
  }

  a[data-external]::after {
    content: "";
    position: absolute;
    margin-left: 2px;
    width: 13px;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--sl-color-text-accent);
    mask: url("/external-icon.svg") no-repeat left center;
  }

  a[data-external]:hover::after {
    background-color: var(--sl-color-white);
  }
}
